* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.background-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}


.navbar {
    display: flex;
    justify-content: space-between; /* Align content to the left and right */
    align-items: center;
    padding: 20px;
}

.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.burger-icon .line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .navbar-brand {
        font-size: 18px;
    }

    .burger-icon {
        display: block;
    }
}


nav .navbar{
    background: transparent;
}
nav .navbar-brand{
    color: white;
}


section .content{
    position: absolute;
    top: 70%;
    color: white;
    font-size: 200px;
}
section .sub-content{
    position: absolute;
    top: 90%;
    color: white;
    font-size: 60px;
}
